body {
    background-color:#edf0e5; 
    color: #90975b;
    margin: 0px;
}

    /**LOGO**/
.header {
    display:flex;
    flex-wrap: wrap;
}

.header-icon {
    width: 100px;  
}

h1 {
    font-size: 36px;
    font-family: 'Lobster Two', cursive;
    color: #3d4d09;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
    margin: 5px;
    width: 100px;
    background-color: #ffffff;
    border: 2px solid #3d4d09;
    border-radius: 5px;
}

button:hover {
    background-color: #90975b;
    color: #ffffff;
}

    /**Recipe container**/
.recipe-container {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    margin: 5%;
    background-color: #ffffff; 
}

.recipe-items {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.recipe {
    border: 2px solid #3d4d09;;
    padding: 5%;
    margin: 10px;
}

.recipe-items h2 {
    margin-top: 20px;
}

.source-p {
    color: #90975b; 
    text-decoration: none;
}

.food-img {
    width: 100%;
}

.food-img:hover {
    opacity: 0.5;
}

.icon {
    width: 15px;
    padding-right: 10px;
}


@media (min-width: 768px) {
    .header {
       justify-content: center;
       margin-top: 20px;
   }

   h1 {
       font-size: 56px;
   }

   .header-icon {
    width: 150px;  
}

    .recipe-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
  }  

}

@media (min-width: 1200px) {
    .recipe-items {
        grid-template-columns: 1fr 1fr 1fr;
    }  
  
  }